<div class="row justify-content-center align-items-center mb-2">
  <div class="col-2 row">
  <div class="col-md-12 p-0">
    <div class="h3">Ebay Setups  </div>
  </div>
  </div>
  <div class="col-10 pl-0 pr-0 row">
  <div class="col-12 mb-3">
    <div class="btn-group p-0" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <% if EbaySetup.count < 1 %>
            <%= link_to 'Добавить настройку', new_ebay_setup_path, class: 'dropdown-item' if current_admin  %>
        <% else %>
          <%= link_to 'Редактировать настройку', edit_ebay_setup_path(EbaySetup.first), class: 'dropdown-item'  if current_admin %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="bg-success">
      <th><%= check_box_tag 'selectAll', value: 'selectAll'%></th>
      <th>Ebay username</th>
      <th>Ebay password</th>
    </tr>
  </thead>

  <tbody id="items_table">
    <% @ebay_setups.limit(1).each do |ebay_setup| %>
    <tr>
        <td><%= check_box_tag "ebay_setup_ids[]", ebay_setup.id %></td>
        <td><%= ebay_setup.ebay_username %></td>
        <td><%= ebay_setup.ebay_password.truncate(20) if ebay_setup.ebay_password.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="apple_pagination">
<%= will_paginate @ebay_setups %>
</div>
