
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-12 h3"><%= page_title %></div>
    <div class="col-6 row">
    <%= f.input :status_ebay, disabled: true, as: :boolean , boolean_style: :inline, wrapper_html: { class: "col-md-6" }%>
    <%= f.input :status_etsy, disabled: true, as: :boolean , boolean_style: :inline, wrapper_html: { class: "col-md-6" }%>
    <%= f.input :sku %>
    <%= f.input :title %>
    <%= f.input :desc %>
    <%= f.input :title_en %>
    <%= f.input :desc_en %>
    <%= f.input :cat %>
    <%= f.input :oldprice %>
    <%= f.input :price %>
    <%= f.input :price_dollar %>
    <%= f.input :price_etsy %>
    <%= f.input :quantity %>
    <%= f.input :url, disabled: true %>
    <%= f.input :parametr %>
    <%= f.input :ins_id, disabled: true  %>
    <%= f.input :ins_var_id, disabled: true  %>
    <%= f.input :ebay_id, disabled: true  %>
    <%= f.input :etsy_id, disabled: true  %>
    </div>
    <div class="col-6">
      <% if @product.image.present? %>
          <%= render 'image_gallery', :images => @product.image.split(' ')%>
      <% else %>
      <%= f.input :image %>
      <% end %>
    </div>
</div>
  <div class="row">
  <div class="col-3 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Назад', :back, class: 'btn btn-outline-primary' %>
  </div>
  </div>
<% end %>
