<div class="row justify-content-center align-items-center mb-2">
<div class="col-2 row">
  <div class="col-md-12 p-0">
    <div class="h3">Products</div>
    <div class="h6">Всего - <%= Product.count %></div>
    <div class="h6">Товаров > 0 - <%= Product.all_product_not_nil_size%></div>
    <div class="h6">Отфильтровано: <%=@products.count%></div>
  </div>
</div>
<div class="col-10 pl-0 pr-0 row">
  <div class="col-12 mb-3">
    <div class="btn-group p-0" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <%# link_to 'New Product', new_product_path, class: 'dropdown-item' %>
          <%= link_to 'Import Product', xml_import_products_path, class: 'dropdown-item' %>
          <%= render "ebay_file" %>
          <%= link_to 'Отправить файл в ebay', create_load_ebay_file_products_path, class: 'dropdown-item' %>
          <%= link_to 'Отправить файл в ebay', create_etsy_products_products_path, class: 'dropdown-item' %>
          <%= link_to 'Отправить файл в ebay', update_etsy_products_products_path, class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </div>
  <%= search_form_for @search, {class: 'form-inline col-12 pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.select :status_ebay_true,[['да', true],['нет', false]], prompt: 'st ebay', class: "form-select", style: "min-width: 140px;" %>
      <%= f.select :status_etsy_true,[['да', true],['нет', false]], prompt: 'st etsy', class: "form-select", style: "min-width: 140px;" %>
      <%= f.search_field :sku_or_title_or_desc_cont , placeholder: 'sku title desc', class: "form-control", style: "min-width: 180px;" %>
      <%= f.select :cat_eq, Product.order(cat: :asc).pluck(:cat).uniq, { include_blank: false, prompt: 'Cat'}, class: "form-select", style: "min-width: 140px;" %>
      <%= f.search_field :price_eq , placeholder: 'price', class: "form-control", style: "min-width: 130px;" %>
      <%= f.select :price_dollar_null , [['нет', true],['есть', false]], { include_blank: false, prompt: '$price'}, class: "form-select", style: "max-width: 120px;" %>
      <%= f.select :quantity_in, [['все','all'],['> 0', 1],['= 0', 0]], { include_blank: false, prompt: 'Кол-во'}, class: "form-select", style: "max-width: 110px;" %>
      <%# f.search_field :image_eq , placeholder: 'image', class: "form-control", style: "max-width: 180px;" %>
      <%# f.search_field :url_eq , placeholder: 'url', class: "form-control", style: "max-width: 180px;" %>
      <%= f.search_field :parametr_cont , placeholder: 'parametr', class: "form-control", style: "max-width: 180px;" %>
      <%= f.search_field :ins_id_eq , placeholder: 'ins_id', class: "form-control", style: "max-width: 180px;" %>
      <%# f.search_field :ins_var_id_eq , placeholder: 'ins_var_id', class: "form-control", style: "max-width: 180px;" %>
      <%# f.search_field :ebay_id_eq , placeholder: 'ebay_id', class: "form-control", style: "max-width: 180px;" %>
      <%# f.search_field :etsy_id_eq , placeholder: 'etsy_id', class: "form-control", style: "max-width: 180px;" %>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, products_path, class: 'btn btn-outline-dark ' %>
      <%= render "filtered_file" %>
      <%= link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_products_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true %>
    </div>
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed table-sm">
  <thead>
    <tr class="bg-success">
      <th><%= check_box_tag 'selectAll', 'selectAll'%></th>
      <th>id</th>
      <th>Sku</th>
      <th style="width: 16.66%">Title</th>
      <th>Title En</th>
      <th>Desc</th>
      <th>Desc En</th>
      <th>Cat</th>
      <th>Oldprice</th>
      <th>Price</th>
      <th>Price $</th>
      <th><%= sort_link(@search, :quantity, 'Кол') %></th>
      <th style="width: 16.66%">Image</th>
      <th>Parametr</th>
      <th style="width: 16.66%">Insales</th>
      <th>Ebay</th>
      <th>Etsy</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="items_table">
    <% @products.each do |product| %>
    <tr>
        <td><%= check_box_tag "product_ids[]", product.id %></td>
        <td><%= link_to product.id, edit_product_path(product)  %></td>
        <td><%= product.sku.truncate(10) if  product.sku.present? %></td>
        <td><%= product.title %></td>
        <td><% if product.title_en.present? %>есть<%else%>нет<%end%></td>
        <td><% if product.desc.present? %>есть<%else%>нет<%end%></td>
        <td><% if product.desc_en.present? %>есть<%else%>нет<%end%></td>
        <td><%= product.cat %></td>
        <td><%= product.oldprice %></td>
        <td><%= product.price %></td>
        <td><%= product.price_dollar %></td>
        <td><%= product.quantity %></td>
        <td>
          <% if product.image.present? %>
          <%= render 'image_gallery', :images => product.image.split(' ').first(4) %>
         <% end %>
        </td>
        <td><%= product.parametr.truncate(45) if product.parametr.present? %></td>
        <td>ID: <%= product.ins_id %><br />VAR_ID: <%= product.ins_var_id %><br /><%= link_to '<span class="oi oi-eye"></span>'.html_safe, product.url, target: "_blank" %></td>
        <td>status_ebay : <% if product.status_ebay %>
          <%= check_box_tag 'status_ebay', 'status_ebay', true , disabled: true %>
          <% else %>
          <%= check_box_tag 'status_ebay', 'status_ebay', false , disabled: true %>
          <% end %>
          <br />
          ebay_id: <%= product.ebay_id %>
        </td>
        <td>status_etsy : <% if product.status_etsy %>
          <%= check_box_tag 'status_etsy', 'status_etsy', true , disabled: true %>
          <% else %>
          <%= check_box_tag 'status_etsy', 'status_etsy', false , disabled: true %>
          <% end %>
          <br />
          etsy_id:
          <% if product.etsy_id.present? %>
          <%= link_to '<span class="oi oi-loop"></span>'.html_safe, create_update_one_etsy_products_path(product) %> <%= product.etsy_id %>
          <% else %>
          <%= link_to 'добавить', create_update_one_etsy_products_path(product) %>
          <% end %>
        </td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="apple_pagination">
<%= will_paginate @products %>
</div>
